
/* =Modal Window
----------------------------------------------- */
.modal-mask {
  position: fixed;
  z-index: 9999; /* @infinity */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.modal-container-1 {
  display: table;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.modal-container-2 {
  display: table-row;
}
.modal-container-3 {
  display: table-cell;
  vertical-align: middle;
}
.modal-chrome {
  background: white;
  border-radius: 0.25em;
  position: relative;
  padding: 3em;
  -webkit-box-shadow  : rgba(0, 0, 0, 0.5) 0 0 15px;
  -moz-box-shadow     : rgba(0, 0, 0, 0.5) 0 0 15px;
  -ms-box-shadow      : rgba(0, 0, 0, 0.5) 0 0 15px;
  -o-box-shadow       : rgba(0, 0, 0, 0.5) 0 0 15px;
  box-shadow          : rgba(0, 0, 0, 0.5) 0 0 15px;
}
.modal-close {
  font-size:.8em;
  position:absolute;
  top:0; right:10px;
  /*margin: 3em -3em -2.5em;
  padding: 0.5em 3em;
  text-align: center;*/
}
.modal-close a {
  color: rgb(100, 100, 100);
  text-decoration: underline;
}