
/* =Modal Window
----------------------------------------------- */
.modal-mask {
  position: fixed;
  z-index: 9999; /* @infinity */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.modal-container-1 {
  display: table;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.modal-container-2 {
  display: table-row;
}
.modal-container-3 {
  display: table-cell;
  vertical-align: middle;
}
.modal-chrome {
  background: white;
  border-radius: 0.25em;
  position: relative;
  padding: 3em;
  -webkit-box-shadow  : rgba(0, 0, 0, 0.5) 0 0 15px;
  -moz-box-shadow     : rgba(0, 0, 0, 0.5) 0 0 15px;
  -ms-box-shadow      : rgba(0, 0, 0, 0.5) 0 0 15px;
  -o-box-shadow       : rgba(0, 0, 0, 0.5) 0 0 15px;
  box-shadow          : rgba(0, 0, 0, 0.5) 0 0 15px;
}
.modal-close {
  margin: 3em -3em -3em;
  padding: 1em 3em;
  text-align: center;
  max-width: none;
  background: rgb(251, 251, 251);
  -webkit-border-bottom-right-radius: 0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  -moz-border-radius-bottomright: 0.25em;
  -moz-border-radius-bottomleft: 0.25em;
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
.modal-close a {
  color: rgb(100, 100, 100);
  text-decoration: underline;
}
.modal-close-corner {
  margin-top: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.modal-close-corner a {
  display: block;
  background: transparent url(close.svg) center no-repeat;
  background-size: 0.75em auto;
  width: 2em;
  height: 2em;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition : opacity 0.2s;
  -moz-transition    : opacity 0.2s;
  -ms-transition     : opacity 0.2s;
  -o-transition      : opacity 0.2s;
  transition         : opacity 0.2s;
}
.modal-close-corner a:hover,
.modal-close-corner a:active,
.modal-close-corner a:focus {
  opacity: 1;
}

